<div class="align">
  <div class="card" [ngClass]="{ extend: !toggleForm }">
    <div class="head">
      <div></div>
      <button
        id="login"
        class="selected"
        [ngClass]="{ selected: toggleForm }"
        [disabled]="toggleForm"
        (click)="toggle()"
      >
        Login
      </button>
      <button
        id="register"
        [ngClass]="{ selected: !toggleForm }"
        [disabled]="!toggleForm"
        (click)="toggle()"
      >
        Register
      </button>
      <div></div>
    </div>
    <div class="tabs">
      <app-login *ngIf="toggleForm"></app-login>
      <app-register *ngIf="!toggleForm"></app-register>
    </div>
  </div>
</div>
