<form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <div class="form-control">
      <input
        type="text"
        placeholder="Full Name"
        id="fullname"
        formControlName="fullname"
        [ngClass]="{
          'is-invalid': submitted && f.fullname.errors,
          'is-valid': submitted && !f.fullname.errors
        }"
      />
      <svg class="icon-field">
        <use xlink:href="assets/img/sprite.svg#icon-user"></use>
      </svg>
      <div class="success" *ngIf="submitted && !f.fullname.errors">
        <svg class="icon check">
          <use xlink:href="assets/img/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <div class="error" *ngIf="submitted && f.fullname.errors">
        <div *ngIf="f.fullname.errors.required">
          <small>Fullname cannot be empty</small>
          <svg class="icon info-circle">
            <use xlink:href="assets/img/sprite.svg#icon-info-with-circle"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="form-control">
      <input
        placeholder="Email"
        id="email"
        type="text"
        formControlName="email"
        [ngClass]="{
          'is-invalid': submitted && f.email.errors,
          'is-valid': submitted && !f.email.errors
        }"
      />
      <svg class="icon-field">
        <use xlink:href="assets/img/sprite.svg#icon-mail"></use>
      </svg>
      <div class="success" *ngIf="submitted && !f.email.errors">
        <svg class="icon check">
          <use xlink:href="assets/img/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <div class="error" *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors">
          <small *ngIf="f.email.errors.required">Email cannot be empty</small>
          <small *ngIf="f.email.errors.email"
            >Email must match email pattern</small
          >
          <svg class="icon info-circle">
            <use xlink:href="assets/img/sprite.svg#icon-info-with-circle"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="form-control">
      <input
        placeholder="Username"
        id="username"
        type="text"
        formControlName="username"
        [ngClass]="{
          'is-invalid': submitted && f.username.errors,
          'is-valid': submitted && !f.username.errors
        }"
      />
      <svg class="icon-field">
        <use xlink:href="assets/img/sprite.svg#icon-user"></use>
      </svg>
      <div class="success" *ngIf="submitted && !f.username.errors">
        <svg class="icon check">
          <use xlink:href="assets/img/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <div class="error" *ngIf="submitted && f.username.errors">
        <div *ngIf="f.username.errors.required">
          <small>Username cannot be empty</small>

          <svg class="icon info-circle">
            <use xlink:href="assets/img/sprite.svg#icon-info-with-circle"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="form-control">
      <input
        placeholder="Password"
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{
          'is-invalid': submitted && f.password.errors,
          'is-valid': submitted && !f.password.errors
        }"
      />
      <svg class="icon-field">
        <use xlink:href="assets/img/sprite.svg#icon-lock"></use>
      </svg>
      <div class="success" *ngIf="submitted && !f.password.errors">
        <svg class="icon check">
          <use xlink:href="assets/img/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <div class="error" *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors">
          <small *ngIf="f.password.errors.required"
            >Password cannot be empty</small
          >
          <small *ngIf="f.password.errors.minlength"
            >Password must be at least 5 characters</small
          >

          <svg class="icon info-circle">
            <use xlink:href="assets/img/sprite.svg#icon-info-with-circle"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <button class="submit-btn">Register</button>
</form>
